# Python caches
__pycache__/
*.py[cod]
*$py.class

# Hugging Face and Model weights
gemma2-persian-summary-adapter/
*.safetensors
*.bin
*.pt
*.pth
*.ckpt

# IDEs and OS
.vscode/
.idea/
.DS_Store
.venv
